*{
    margin: 0px;
    padding: 0px;
    background-color: black;
    overflow: hidden;
}

#interativo 
{ 

    
    z-index: 1;
    background-color: transparent;
    height: 100vh;
    width: 100%;
}

#bg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    aspect-ratio: 4/3;
}

#bg img{
    z-index: 0;
    position: absolute;
    bottom: -100px;
    image-rendering: pixelated;
    height: auto;
    width: 80%;

}

.movel 
{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;
    color: transparent;
    background-color: brown;
}

.movel:hover 
{
    overflow: visible;
    font-size: 25px;
    font-family: 'yummy nickels', 'Regular';
    color: #210c07;
    cursor: pointer;

      text-shadow:
    -1px -1px 0px white,
     1px -1px 0px white,
    -1px  1px 0px white,
     1px  1px 0px white;

}

#cama
{
    height: 110px;
    position: fixed;
    left: 440px;
    top: 265px;
    background-color: transparent;
    
}

#computador
{
    height: 70px;
    width: 150px;
    position: fixed;
    left: 760px;
    top: 190px;
    background-color: transparent;
    
}

#porta
{
    height: 110px;
    width: 50px;
    position: fixed;
    left: 950px;
    top: 330px;
    background-color: transparent;
    
}

#segredo 
{
    height: 20px;
    width: 50px;
    position: fixed;
    left: 380px;
    top: 380px;
    background-color: transparent;
}

#tutorial
{

    position: fixed;
    top: 250px;
    left: 250px;
    background-color: transparent;
    
}

#containerDash {
    display: none;

}

#dashboard
{
    border-radius: 5px;
    border: 6px solid green;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 3;
    position: fixed;
    background-color: black;
    top:40px;
    left: 100px;
    width: 1280px;
    height: 720px;
}

#grafico
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 70%;
    background-color: yellow;
}

#kpis {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    
}

#kpi1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 20px 20px;
    height: 20%;
    width: 90%;
    color: green;  
    background-color: rgb(0, 30, 0);  
    font-size: 64px;
    border-radius: 20px;
    font-family: 'Press Start 2P', cursive;
}

#kpi2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 20px 20px;
    height: 20%;
    width: 90%;
    color: green;  
    background-color: rgb(0, 30, 0);  
    font-size: 64px;
    border-radius: 20px;
    font-family: 'Press Start 2P', cursive;
}


#fechar{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: 20px;
    font-weight: 900;
    height: 32px;
    width: 100%;
    
}

#calibrador1
{
    
    border: 10px dashed red;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 140px;
    left: 1078px;
    background-color: transparent;


}
