 *{
    overflow: hidden;
    image-rendering: pixelated;
 }

body{
    background-color: black;

}

#fundo 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#fundo img {
    z-index: -1;
    position: absolute;
    bottom: -100px;
    height: 1500px;
    width: auto;
}

#containerCassino {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
}

#containerCassino img {
    height: 800px;
}

#resultados{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 260px;
    left: 630px;
    height: 125px;
    width: 260px;

}

.negocinho {
    background-color: rgb(174, 174, 174) ;
    height: 130px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;

}

#rolar{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 500px;
    left: 600px;
    height: 130px;
    width: 320px;
    background-color: rgb(17, 28, 4);
    color: white;
    font-family:'yummy nickels', 'Regular';
    font-size: 90px;
}