:root 
{--gradienteDaLetra: linear-gradient(to bottom, rgb(255, 255, 255) 0 12.5%, rgb(250, 250, 250) 12.5% 18.75%, rgb(245, 245, 245) 18.75% 25%, rgb(240, 240, 240) 25% 31.25%, rgb(236, 236, 236) 31.25% 37.5%, rgb(231, 231, 231) 37.5% 43.75%, rgb(226, 226, 226) 43.75% 50%, rgb(221, 221, 221) 50% 56.25%, rgb(216, 216, 216) 56.25% 62.5%, rgb(211, 211, 211) 62.5% 68.75%, rgb(206, 206, 206) 68.75% 75%, rgb(201, 201, 201) 75% 81.25%, rgb(196, 196, 196) 81.25% 87.5%, rgb(191, 191, 191) 87.5% 93.75%, rgb(186, 186, 186) 93.75% 100%, rgb(181, 181, 181) 100% 100%);

}

* 
{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* ESTUDOS A PARTE PRA LEMBRAR 

    - zindex muda a pos. das coisas no eixo z (pra frente e pra tras)
    - variaveis sao declaradas com "--" pra facilitar chamar depois (aparentemente tem que ser declarada no :root )



*/

/* Imagem do fundo */

#background 
{
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url('../assets/bgtile_1.png');
    background-repeat: repeat;
    background-size: 210px;
    image-rendering: pixelated;
    z-index: -1;

}

/* Filtro escuro no fundo */

#bgOverlay 
{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.35;
    z-index: -1;
}

.gradienteTexto 
{

    background-image: var(--gradienteDaLetra);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    
}

.negrito {
    font-weight: bold;
}

.bordaPixel
{

    border-image-slice: 10 10 10 10;
    border-image-width: 18px 18px 18px 18px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: repeat repeat;
    border-image-source: url('../assets/bordertile_1.png');
    border-style: solid;

}

.titulos 
{
    font-size: 50px;
}