*{
    overflow: hidden;
    image-rendering: pixelated;
}

body{
    background-color: black;

}

#fundo 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#resultado 
{
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 2150px;
    height: 1080px;
    background-color: #0e0a1e98;
}

